<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <ul>
          <form action="/anagram" method="post">
          <div class="form-group">
          <label for="user-word">Enter a Word</label>
          <input type="text" name="user-word" class="form-control">
        </div>
        <div class="form-group">
              <label for="list-word1">Enter Some Other Words</label>
              <input type="text" name="list-word1" class="form-control">
            </div>
            <button class="btn btn-danger" type="submit" name="button">Submit</button>
       </form>

        </ul>
    </body>
</html>
